body{
	background-image: url("https://abs.twimg.com/images/themes/theme1/bg.png");
	background-position: left 40px;
	background-attachment: fixed;
	background-repeat:	repeat;
	background-repeat: no-repeat;
	background-color:  #C0DEED;
	margin: 0px;
	font-family: helvetica, sans-serif;
	color: #292f33;
}

/*nav bar*/

header {
	height:46px;
	background-color: white;
	margin-top: 0px;
	position: fixed;
	width:100%;
	border-bottom: 1px solid rgba(0,0,0,0.15);
	display: inline;
	z-index: 9999;
	color:#66757f;
}

#nav-container{
	float: left;
}

#header-logo{
	height: 21px;
	width: 24px;
	position: fixed;
	top: 3%;
	left: 50%;
	margin-left: 12px;
}

#nav-container ul li{
	display: inline;
	list-style: none;
}

#nav-container .icon{
	width: 23px;
	height: 23px;
	position: relative;
	display: inline-block;
}

#home-icon{
	background:url('https://abs.twimg.com/a/1407438973/img/t1/twitter_web_sprite_icons.png') 0 -49px;
}

#notifications-icon{
	background:url('https://abs.twimg.com/a/1407438973/img/t1/twitter_web_sprite_icons.png') -120px -554px;
}

#discover-icon{
	background:url('https://abs.twimg.com/a/1407438973/img/t1/twitter_web_sprite_icons.png') -35px -49px;
}

#me-icon{
	background:url('https://abs.twimg.com/a/1407438973/img/t1/twitter_web_sprite_icons.png') -117px -49px;
}

#search-container{
	float:right;
	padding: 7px;
	display: inline-block;
}

#search{
	box-sizing: border-box;
	height: 32px;
	line-height: 1;
	color: #66757f;
	background-color: #a3acb2;
	border-radius: 21px;
	float:left;
}

#search-query{
color: #FFF;
border: 0;
background-color: transparent;
border-radius: 21px;
width: 100%;
height: 32px;
padding: 5px 27px 6px 12px;
font-size: 12px;
opacity: 0.6;
background-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
}

#search-icon{
	width:26px;
	height:26px;
	border: 0; 
	background:url('https://abs.twimg.com/a/1407438973/img/t1/twitter_web_sprite_icons.png')-55px -700px;
	cursor: pointer;
	position: relative;
	top: -40px;
	right: -150px;

}

#admin-icons{
	float: right;
}

#admin-icons .icon{
	width: 23px;
	height: 23px;
	position: relative;
}

#admin-list li{
	list-style: none;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}

#admin-dms{
	background:url('https://abs.twimg.com/a/1407438973/img/t1/twitter_web_sprite_icons.png') -85px -880px;
}

#admin-settings{
	background:url('https://abs.twimg.com/a/1407438973/img/t1/twitter_web_sprite_icons.png') -160px -50px;;
}

#admin-tweet{

	background:url('https://abs.twimg.com/a/1407438973/img/t1/twitter_web_sprite_icons.png') -198px -50px;
	background-color: #a3acb2;
}




/*body*/

#content {
	padding: 46px;
	padding-top: 52px;
}

/*left dashboard*/

#dashboard-left {
	width: 290px;
	float: left;
	
}

#profile-info {
	border-radius: 6px;
	background-color: white;
	padding: 0px;
	margin: 10px;
	height: 271px;
}

#background-pic{
	width:100%;
	height:95px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	
}

#profile-pic-element{
	padding: 3px;
	position: relative;
	top: -40px;
	background-color: white;
	left: 20px;
	border-radius: 6px;
	width: 73px;
}

#profile-pic{
	padding: 3px;
}

#handle{
	text-align: left;
	padding-left:120px;
	position: relative;
	top: -90px;
	padding-top: 5px;
	color:#66757f;
	font-size: 14px;
	font-weight: 300;
}

#handle strong{
	color: #292f33;
	font-size: 19px
}

#stats-list{
	position:relative;
	top: -90px;
	padding-left: 3px
}

#stats-list li{
	list-style: none;
	display: inline-block;
	padding: 5px;
}

#stats-list h2{
	font-size: 12px;
	font-weight: 300;
	color:#66757f;
}

.stat{
	color: #002B99;
}

#compose-tweet{
	position: relative;
	top: -90px;
	text-align: center;
	border-color: #BFCAE5;
	background-color: #E5E9F4;
	padding: 12px;
	width: 246px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

#tweet-input{
	box-sizing: border-box;
	height: 25px;
	width: 100%;
	line-height: 1;
	border: 0px;
	border-radius: 2px;
}

#trends {
	border-radius: 6px;
	background-color: white;
	padding: 10px;
	margin: 10px;
}

#trends h2{
	color: #66757f;
	font-size: 20px;
	font-weight: 300;
	line-height: 22px;
}

#trends a{
	text-decoration: none;
}

#trends-list{
	list-style: none;
	padding: 0px;
	font-size: 13px;
	margin-bottom: 0px;
}

#trends-list li{
	padding-bottom: 5px;
}

/*center*/

#main-container{
	border-radius: 6px;
	background-color: white;
	width: 590px;
	float:left;
	margin: 9px;
	border: 1px solid #e1e8ed;
}

#tweets-header{
	min-height: 20px;
	padding: 12px;
	color: #66757f;
	font-size: 22px;
	font-weight: 300;
	line-height: 22px;
	border-bottom: 1px solid #e1e8ed;
	border-radius: 5px 5px 0 0;
}

#display-tweet{
	border-bottom: 1px solid #e1e8ed;
	border-radius: 5px 5px 0 0;
}

#tweet-avatar{
	width:48px;
	height:48px;
	border-radius: 5px;
}

#tweet-information{
	color: #66757f;
}

#tweet-information strong{
	color:black;
}

#tweet-options li{
	list-style: none;
	display: inline-block;
}

/*right dashboard*/

#dashboard-right{
	width: 290px;
	float: right;
}

#recommended-followers{
	border-radius: 6px;
	background-color: white;
	padding: 10px;
	margin: 10px;
}

#ts-and-cs{
	border-radius: 6px;
	background-color: white;
	padding: 10px;
	margin: 10px;
}




