body{
	background-image: url("https://abs.twimg.com/images/themes/theme1/bg.png");
	background-position: left 40px;
	background-attachment: fixed;
	background-repeat:	repeat;
	background-repeat: no-repeat;
	background-color:  #C0DEED;
	margin: 0px;
	font-family: helvetica, sans-serif;
	color: #292f33;
}

#content {
	padding: 46px;
	padding-top: 52px;
}


.box{
	margin: 9px;
	border: 1px solid #e1e8ed;
}

h2{
	color: #66757f;
	font-size: 22px;
	font-weight: 300;
}





